{{#bs-navbar position="fixed-top"}}
    <div class="navbar-header">
        {{#bs-navbar-toggle}}
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
        {{/bs-navbar-toggle}}
        {{#link-to "index" class="navbar-brand"}}SmartJobs{{/link-to}}
    </div>

    {{#bs-navbar-content}}
        {{#bs-navbar-nav}}
            {{#bs-dropdown tagName="li"}}
                {{#bs-dropdown-toggle}}Views <span class="caret"></span>{{/bs-dropdown-toggle}}
                {{#bs-dropdown-menu}}
                  <li>{{#link-to "index"}}Job List{{/link-to}}</li>
                  <li>{{#link-to "index"}}VideoLectures{{/link-to}}</li>
                {{/bs-dropdown-menu}}
            {{/bs-dropdown}}

            {{#bs-nav-item}}
                {{#link-to "about"}}
                    About
                {{/link-to}}
            {{/bs-nav-item}}
        {{/bs-navbar-nav}}
      {{/bs-navbar-content}}
{{/bs-navbar}}

{{outlet}}
