{{search-options}}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            {{ job-list }}
        </div>

        <div class="col-lg-4">
            {{ job-map }}
        </div>
    </div>
</div>



{{outlet}}
